{% extends "base.html" %}

{% block content %}
    {% if tasks %}
        <h1>Tasks issued by you</h1>
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Performers</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href={{ url_for('task', task_id=task.id) }}>
                            {{ task.title }}
                        </a>
                    </td>
                    <td>
                        {% if task.status == 0 %}
                            TO DO
                        {% elif task.status == 1 %}
                            IN PROGRESS
                        {% elif task.status == 2 %}
                            ON REVIEW
                        {% else %}
                            DONE
                        {% endif %}
                    </td>
                    <td>{{ task.get_users_name() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}